<!DOCTYPE html>
<html>
	<head>
        <meta charset='utf-8'>
		<title>Customer Site</title>
		<link href="./part/style/custWeb_style.css" type="text/css" rel="stylesheet" />
        <link rel="shortcut icon" href="./part/style/favicon.ico">
	</head>
	<body>
        <div class="frame">
            <div class="title">
                <h1>NOZAMA</h1>
            </div>
            <div class="container">
                <div class="nav">
                    <ul class = "nav-list">
                        <li class="nav-menu"><a href= "<%= loginLink %>" class="nav-link">Login</a></li>
                        <li class="nav-menu"><a href= "<%= custLink %>" class="nav-link">Check Info</a></li>
                    </ul>
                </div>
                <div class="content">
                    <h2>Login</h2>
                    <div>
                        <label for="loginID"></label>
                    </div>
                </div>
            </div>
            <div class="footer">
                <p class="copyright">&copy;Roberto Clemente</p>
            </div>
        </div>
	</body>
</html>