<!DOCTYPE html>
<html>
    <head>
        <%- include ('part/header'); %>
    </head>
    <body>
        example ejs
        <h1><%= exerciseNum %></h1>
        <footer>
            <%- include ('part/footer'); %>
        </footer>
    </body>
</html>
