<!DOCTYPE html>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
		<link href="../custWeb/custWeb_style.css" type="text/css" rel="stylesheet" />
        <link rel="shortcut icon" href="../part/style/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	</head>
	<body>
        <div id="mySidenav" class="sidenav">
            <a href ="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <br/>
            <br/>
            <a href="<%= itemLink%>">Items</a>
            <a href="<%= loginLink%>">Login</a>
            <a href="<%= custLink%>">My Order</a>
        </div>

        <div class="frame">
            <div class="title">
                <span class="menubar" id="menubar" style="font-size:30px; cursor:pointer; color: white" onclick="openNav()">&#9776;</span>
                <h1 class="page_name"><a href="<%= basicLink%>">Roberto Clemente</a></h1>
                <button class="btn_search" id="search"><i class="fa fa-search"></i></button><input id = "search" class="search" placeholder="Search...">
            </div>
            <div class="container">
                <div class="content">
                    <h2>Login</h2>
                    <div class="login">
                        <form action="/custInfo" method="POST">
                            <label for="loginId" id="loginId">ID</label>
                            <input type="text" id="loginId" name="loginId" placeholder="ID">
                            <button type="submit" class="btn_login"  disable> Login</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer">
                <p class="copyright">&copy;Roberto Clemente</p>
            </div>
        </div>
        <script type="text/javascript" src="../custWeb/custWeb_script.js">
        </script>
	</body>
</html>