<meta charset="utf-8">
<meta http-equiv="refresh" content="10;">
<title>Dash Board</title>
<link href="./HTML/dash_style.css" type="text/css" rel="stylesheet"/>
<link rel="shortcut icon" href="./HTML/favicon.ico">