body{
	font-family: helverica;
}
h1{
	font-family: pacificoregular;
	font-size: 48px;

	color: white;

	text-align: center;

	/*background-color: rgb(0,70,42);*/
	/*background-repeat: repeat-y;*/
}
h2{
	font-size: 30px;
	color: rgb(0,70,42);
	text-align: center;
/*    background-color:rgb(217,217,184);*/
}

/*--------------------------For input Class--------------------------*/
.info{
    font-size: 20px;
	text-indent:20px;
}
img.fixed{
	position:fixed;
	left:280px;
	top:1px;
    width:250px;
    height:auto;
}

.main_container{
	width:100%;
	height:100%;
}
.main_title{
	width:100%;
	height:150px;
	background-color: rgb(0,70,42);
	float:left;
}
.main_Order{
	width:50%;
	height:280px;
	/*background-color:red;*/
	float:left;
}
.main_Robot{
	width:50%;		
	height:280px;	
/*background-color:blue;*/
	float:left;
}
.main_Others{
	width:100%;	
	height:150px;
	/*background-color:yellow;*/
	float:left;
}
.footer{
    text-align: center;
    border-top:2px solid #aaa;
    margin: 20px 20px 0;
    font-size: 12px;
}

/*--------------------------For font--------------------------*/
@font-face {
    font-family: 'pacificoregular';
    src: url('/Users/soua/workspace/RobertoClemente_Server/Web/pacifico_font/pacifico-webfont.woff2') format('woff2'),
         url('/Users/soua/workspace/RobertoClemente_Server/Web/pacifico_font/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}